/*
	Styling should be redone to make a more consistant system which can be
	extended to other projects. Specifically, several IDs can probably changed
	to classes.
*/

:root{
	--backgroundColor: #000000;
	--foregroundColor: #FFFFFF;
	--borderColor: #AAAAAA;
}

html, body{
	/*
		Temporary fix, there's some weirdness going on with the main height
	*/
	height: 96%;
	background-color: black;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
}

div.main{
	height: 100%;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

header.top{
	padding: 2px;
	text-align: center;
}

fieldset{
	font-family: monospace;
	font-size: 80%;
}

div.leftColumn{
	width: 25%;
	float: left;
	clear: both;
	font-size: 80%;
	font-family: monospace;;
	height: 80%;
	overflow: scroll;
}

div.centerColumn{
	text-align: center;
	float: left;
	width: 50%;
}

div.center{
	width: 50%;
	margin: auto;
	text-align: center;
}

div.rightColumn{
	width: 25%;
	float: left;
	padding: 0;
    margin: 0;
}

div.bottom{

}

/*Make the browser's input button invisible and style a label to match the
rest of the site*/

input[type="file"]{
	*width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

nav{
	text-align: center;
	font-size: 150%;
}

input[type=button], input[type=submit]{
	color: var(--foregroundColor);
	background-color: var(--backgroundColor);
	border: 1px solid var(--borderColor);
	border-radius: 4px;
}

input[type=button]:hover, input[type=submit]:hover{
	color: var(--backgroundColor);
	background-color: var(--foregroundColor);
	border: 1px solid var(--borderColor);
	border-radius: 4px;
	cursor: pointer;
}

input[type=button].selected{
	background-color: white;
	color: black;
	border: 1px solid var(--borderColor);
	border-radius: 4px;
}

div.verticallyCollapsedPanel{
	/*overflow: scroll;*/
	height: 50%;

	/*border: 1px solid var(--borderColor);*/
	/*height: 75%;*/
}

label.uploadLabel{
	color: var(--foregroundColor);
	background-color: var(--backgroundColor);
	border: 1px solid var(--borderColor);
	text-decoration: none;
	border-radius: 4px;
	padding-left: .8%;
	padding-right: .8%;
	padding-top: .25%;
	padding-bottom: .25%;
	font-size: 85%;
}

label.uploadLabel:hover{
	color: white;
	color: var(--backgroundColor);
	background-color: var(--foregroundColor);
	border: 1px solid var(--borderColor);
	cursor: pointer;
}

a.downloadLink{
	color: var(--foregroundColor);
	background-color: var(--backgroundColor);
	border: 1px solid var(--borderColor);
	text-decoration: none;
	border-radius: 4px;
	padding-left: .8%;
	padding-right: .8%;
	padding-top: .25%;
	padding-bottom: .25%;
	font-size: 85%;
}

a.downloadLink:hover{
	color: var(--backgroundColor);
	background-color: var(--foregroundColor);
	border: 1px solid var(--borderColor);
	text-decoration: none;
}

label.uploadLabel:moz-hover{
	color: white;
	border: 1px solid var(--borderColor);
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: white;
	background-color: #000000;
}

a:hover{
	text-decoration: underline;
}

canvas{
  border: 1px solid #888888;
}

a:moz-hover{
	text-decoration: none;
	color: white;
	background-color: #888888;
}
